.app {
  min-height: 100vh;
  background: rgb(104, 180, 206);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tweet {
  background: white;
  height: 300px;
  width: 300px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.red{
  color: red;
  font-size: 50px;
}